@model IEnumerable<VS13.Models.Person>
@{
  ViewBag.Title = "VS13.ASPNET.Mvc";
}

<h2>People of the World</h2>
<div id="world">
    <div class="world-header">
        @Html.ActionLink("New Person", "Create")
    </div>
    <br />
    <div class="world-body">
        @foreach (var person in Model) {
        <div class="people">
            <div class="row person">
                <div class="col-sm-4">
                    @Html.DisplayNameFor(model => model.Name) : @Html.ActionLink(person.Name, "Read", new { id = person.ID }, new { title = "Click here to view this person." })
                </div>
                <div class="col-sm-4">
                    @Html.DisplayNameFor(model => model.Birthdate) :  @Html.DisplayFor(model => person.Birthdate)
                </div>
                <div class="col-sm-4">
                    @Html.DisplayNameFor(model => model.Gender) : @Html.DisplayFor(model => person.Gender)
                </div>
            </div>
            <div class="row services" style="margin:10px 10px 0px 10px; padding-top:10px; border-top:1px solid #eeeeee; text-align:left">
                <div class="col-sm-12">
                    @Html.ActionLink("Edit", "Edit", new { id = person.ID })
                    &nbsp;|&nbsp;
                    @Html.ActionLink("Delete", "Delete", new { id = person.ID }, new { onclick = "return confirm('Are you sure you wish to delete this person?');" })
                </div>
            </div>
            <hr />
        </div>
        }
    </div>
</div>

@section scripts {
    <script type="text/javascript">
    $(document).ready(function () {

    });
    </script>
}
