@{
    ViewBag.Title = "Details";
}
@model VS13.Models.ParkingPermit

<h4>Parking Permit#&nbsp;@Model.Number</h4>
<div>
    <fieldset>
        <legend>Vehicle</legend>
        <dl class="dl-horizontal">
            <dt>@Html.DisplayNameFor(model => model.Vehicle.PlateNumber)</dt>
            <dd>@Html.DisplayFor(model => model.Vehicle.PlateNumber)</dd>
            <dt>@Html.DisplayNameFor(model => model.Vehicle.Make)</dt>
            <dd>@Html.DisplayFor(model => model.Vehicle.Year)&nbsp;@Html.DisplayFor(model => model.Vehicle.Make)&nbsp;@Html.DisplayFor(model => model.Vehicle.Model)&nbsp;(@Html.DisplayFor(model => model.Vehicle.Color))</dd>
        </dl>
    </fieldset>
    <fieldset>
        <legend>Contact</legend>
        <dl class="dl-horizontal">
            <dt>Name</dt>
            <dd>@Html.DisplayFor(model => model.Vehicle.ContactFirstName)&nbsp;@Html.DisplayFor(model => model.Vehicle.ContactMiddleName)&nbsp;@Html.DisplayFor(model => model.Vehicle.ContactLastName)</dd>
            <dt>@Html.DisplayNameFor(model => model.Vehicle.ContactPhoneNumber)</dt>
            <dd>@Html.DisplayFor(model => model.Vehicle.ContactPhoneNumber)</dd>
        </dl>
    </fieldset>
</div>
