@{
    ViewBag.Title = "Index";
}
@model IEnumerable<VS13.Models.ParkingPermit>

<h2>Parking Permits</h2>
<div id="tabs">
    <ul>
        <li><a href="#tabPermits">Permits</a></li>
        <li><a href="#tabSearch">Search</a></li>
    </ul>
    <div id="tabPermits">
        <p>@Html.ActionLink("Register","Register")</p>
        <div class="gridviewtitle">All Parking Permits</div>
        <div class="gridviewbody">
            <table class="table">
                <tr>
                    <th>&nbsp;</th>
                    <th>&nbsp;</th>
                    <th>&nbsp;</th>
                    <th>@Html.DisplayNameFor(model => model.Number)</th>
                    <th>@Html.DisplayNameFor(model => model.Vehicle.IssueState)</th>
                    <th>@Html.DisplayNameFor(model => model.Vehicle.PlateNumber)</th>
                    <th>@Html.DisplayNameFor(model => model.Vehicle.Year)</th>
                    <th>@Html.DisplayNameFor(model => model.Vehicle.Make)</th>
                    <th>@Html.DisplayNameFor(model => model.Vehicle.Model)</th>
                    <th>@Html.DisplayNameFor(model => model.Vehicle.Color)</th>
                    <th>@Html.DisplayNameFor(model => model.Vehicle.ContactFirstName)</th>
                    <th>@Html.DisplayNameFor(model => model.Vehicle.ContactMiddleName)</th>
                    <th>@Html.DisplayNameFor(model => model.Vehicle.ContactLastName)</th>
                    <th>@Html.DisplayNameFor(model => model.Vehicle.ContactPhoneNumber)</th>
                    <th>@Html.DisplayNameFor(model => model.Activated)</th>
                    <th>@Html.DisplayNameFor(model => model.ActivatedBy)</th>
                    <th>@Html.DisplayNameFor(model => model.Inactivated)</th>
                    <th>@Html.DisplayNameFor(model => model.InactivatedBy)</th>
                    <th>@Html.DisplayNameFor(model => model.InactivatedReason)</th>
                </tr>
                @foreach (var item in Model) {
                    <tr>
                        <td>@Html.ActionLink("Replace","Replace",new { id = item.ParkingPermitID })</td>
                        <td>@Html.ActionLink("Revoke","Revoke",new { id = item.ParkingPermitID })</td>
                        <td>@Html.ActionLink("Change Vehicle","Change",new { id = item.ParkingPermitID })</td>
                        <td>@Html.ActionLink(item.Number,"Details",new { id = item.ParkingPermitID },new { id = "linkId",title = "Click here to view this permit." })</td>
                        <td>@Html.DisplayFor(modelItem => item.Vehicle.IssueState)</td>
                        <td>@Html.DisplayFor(modelItem => item.Vehicle.PlateNumber)</td>
                        <td>@Html.DisplayFor(modelItem => item.Vehicle.Year)</td>
                        <td>@Html.DisplayFor(modelItem => item.Vehicle.Make)</td>
                        <td>@Html.DisplayFor(modelItem => item.Vehicle.Model)</td>
                        <td>@Html.DisplayFor(modelItem => item.Vehicle.Color)</td>
                        <td>@Html.DisplayFor(modelItem => item.Vehicle.ContactFirstName)</td>
                        <td>@Html.DisplayFor(modelItem => item.Vehicle.ContactMiddleName)</td>
                        <td>@Html.DisplayFor(modelItem => item.Vehicle.ContactLastName)</td>
                        <td>@Html.DisplayFor(modelItem => item.Vehicle.ContactPhoneNumber)</td>
                        <td>@Html.DisplayFor(modelItem => item.Activated)</td>
                        <td>@Html.DisplayFor(modelItem => item.ActivatedBy)</td>
                        <td>@Html.DisplayFor(modelItem => item.Inactivated)</td>
                        <td>@Html.DisplayFor(modelItem => item.InactivatedBy)</td>
                        <td>@Html.DisplayFor(modelItem => item.InactivatedReason)</td>
                    </tr>
                }
            </table>
        </div>
    </div>
    <div id="tabSearch">
        &nbsp;
    </div>
</div>

@section scripts {
<script type="text/javascript">
    $(document).ready(function () {
        $("#tabs").tabs({ active: 0 });

        $('#linkId').click(function () {
            //$.get(this.href, function (result) {
            //    $(result).dialog();
            //});
            $('<div>Loading ...</div>').load(this.href).dialog();
            return false;
        });
    });
</script>
}
